/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 800 */

body {
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;

  }
  
  header{
  
    background-color: #FABD5F;
    font-size: 24px;
    padding-top: 1px;
  
  }
  
  header ul {
  
    list-style: none;
    display: flex;
    justify-content: center;
  
  }
  
  header li{
  
    margin: 10px;
  
  }
  
  header a{
  
    text-decoration: none;
    color: black;
  
  }
  
  header a:hover{
  
    color: #C9FA5F;
  
  }
  
  .login {
  
    right: 0;
    position: absolute;
    background-color: #FA4F34;
    padding: 8px;
    border-radius: 8px;
  
  }

  main{

    margin: 10px;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 150px;

  }

  .cardperfil {

    margin: auto;
    background-color: #FABD5F;
    width: 200px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

  }

  .cardperfil  h3{

    margin: 0;

  }

  section{

    padding: 2%;

  }
  
  section img{

    width: 140px;
    height: 140px;
    border-radius: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: #FA4F34;
    margin-top: 20px;

  }
  
  
  hr{
  
    margin-bottom: 0;
  
  }
  
  footer{
  
    background-color: #FABD5F;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  
  }
  
  footer img{
  
    max-width: 25px;
    max-height: 25px;
    margin: 2px;
  
  }
  
  footer ul{
  
    list-style: none;
  
  }
  
  .redes{
  
    flex-basis: 50%;
    text-align: center;
  
  }