/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 800 */

body {
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    height: 100%;
  }
  
  header{
  
    background-color: #FABD5F;
    font-size: 24px;
    padding-top: 1px;
  
  }
  
  header ul {
  
    list-style: none;
    display: flex;
    justify-content: center;
  
  }
  
  header li{
  
    margin: 10px;
  
  }
  
  header a{
  
    text-decoration: none;
    color: black;
  
  }
  
  header a:hover{
  
    color: #C9FA5F;
  
  }
  
  .login {
  
    right: 0;
    position: absolute;
    background-color: #FA4F34;
    padding: 8px;
    border-radius: 8px;
  
  }

  main{

    min-height: 80vh;

  }
  
  table{

    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

table td img{

    max-width: 70px;
    max-height: 70px;

}

th, td{

    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #FA4F34;

}

th{

    font-weight: bold;

}

tr:nth-child(even){

  background-color: rgb(244, 244, 244);

}

tbody tr{

  background-color:rgb(212, 212, 212);

}

input.quantidade{

    width: 50px;
    padding: 5px;
    text-align: center;

}

button.removerProduto{

    background-color: #FA4F34;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

button.removerProduto:hover {
    text-decoration: underline;
    color: #C9FA5F;
}

.totalGeral{

    text-align: right;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

}

button.comprar{

    background-color: #FA4F34;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

button.comprar:hover {
    text-decoration: underline;
    color: #C9FA5F;
}

  
  hr{
  
    margin-bottom: 0;
  
  }
  
  footer{
  
    background-color: #FABD5F;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  
  }
  
  footer img{
  
    max-width: 25px;
    max-height: 25px;
    margin: 2px;
  
  }
  
  footer ul{
  
    list-style: none;
  
  }
  
  .redes{
  
    flex-basis: 50%;
    text-align: center;
  
  }