/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 800 */

body {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

header{

  background-color: #FABD5F;
  font-size: 24px;
  padding-top: 1px;

}

header ul {

  list-style: none;
  display: flex;
  justify-content: center;

}

header li{

  margin: 10px;

}

header a{

  text-decoration: none;
  color: black;

}

header a:hover{

  color: #C9FA5F;

}

.login {

  right: 0;
  position: absolute;
  background-color: #FA4F34;
  padding: 8px;
  border-radius: 8px;

}

main{

  text-align: center;

}

main h1{

  font-size: 70px;
  text-decoration: underline;

}

.slider{

  position: relative;
  max-width: 800px;
  max-height: 600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-style: solid;
  border-color: #FA4F34;
  border-radius: 5px;
  border-width: 5px;

}

.slides{

  display: flex;
  width: 100%;
  animation: animacaoSlide 9s infinite;

}

.slide{

  width: 100%;
  flex-shrink: 0;

}

.slide img{
  width: 800px;
  height: 600px;
 
  display: block;

}

.cards{

  display: flex;
  justify-content: center;

}

.card{

  border-style: solid;
  border-color: #FA4F34;
  border-radius: 5px;
  border-width: 5px;
  margin: 20px;

}

.apresentacao{

  background-color: rgb(212, 212, 212);
  padding: 2%;
  font-size: 24px;

}

@keyframes animacaoSlide {
  0% { transform: translateX(0); }
 33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}


hr{

  margin-bottom: 0;

}

footer{

  background-color: #FABD5F;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

footer img{

  max-width: 25px;
  max-height: 25px;
  margin: 2px;

}

footer ul{

  list-style: none;

}

.redes{

  flex-basis: 50%;
  text-align: center;

}